pandas
numpy
scikit-learn
matplotlib
seaborn
plotly
streamlit==1.38.0
joblib
xgboost
langchain
langchain-community
langchain-text-splitters
langgraph
chromadb
sentence-transformers
langchain-groq
python-dotenv
shap
